#container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

i {
  font-size: 4em;
  margin-top: 150px;
  color: #DCE1E4;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5em;
  color: #DCE1E4;
}

body {
  background-color: #939698;
}
